body{
    margin:0;
    padding: 0;

}
a{
    font-size: 1.5rem;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('/static/images/tower.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: inherit;

	height: 92vh;

}
.navbar{
  background-color: transparent;
}
.navbar-brand{
  margin-left: 4%;
  font-family: 'Kaushan Script', cursive;
  font-size: 3rem;
  color:white;
}
.navbar-brand a:hover{
    color: whitesmoke;
}
#fixedheight td {
    width: 25%;
}

#fixedheight td div {
    height: 20px;
    overflow: hidden;
}
h1{
    margin-top:5rem ;
}
.my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
.td-color{
    background-color: sandybrown;
}
.td-color1{
    background-color: #ddffdd;
}
.td-color2{
    background-color: #666666;
    color:white;
}
.td-color3{
    background-color: #79aec8;
}
.page-footer{
    background-color: deepskyblue;
}
.container{
    margin-bottom:2rem;
}